name: Docker Push

on:
  push:
    branches: [ main ]

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_Lucascesi14 }}
          password: ${{ secrets.GITHUB_dckr_pat_5bkMpSeDUeFSVU6zxOYTP5AKZb4 }}

      - run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/quelpoke:latest .
      - run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/quelpoke:latest
