name: Docker Push

on:
  push:
    branches: [ main ]

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: docker/login-action@v3
        with:
          context: ./quelpoke
          file: ./quelpoke/Dockerfile
          push: true
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - run: docker build -t ${{ secrets.DOCKER_USERNAME }}/quelpoke:latest .
      - run: docker push ${{ secrets.DOCKER_USERNAME }}/quelpoke:latest
